body{
    font: normal Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

.main div{
    width: 300px;
    height: auto;

}

.header h1{
    font: 18px;
    text-align: center;
}

.inner{
    background: #f4f4f4;
}

#summarizeButton{
    background-color: white;
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 10px;
}

#summarizeButton:hover{
    background-color: red;
    color: white;
}

.separator{
    color: white;
    height: 5px;
}

#innerheader{
    font: 14px normal Arial, Helvetica, sans-serif;;
    font-weight: bold;
    background-color: white;
    height: 35px;
    padding: 2px;
    margin: none;
    
}

#summary{
    /* background-image: url(/images/shiba_watching_yt.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; */
    color: black;
    font: 14px;
    text-align: center;
}

#image{
    width: 100%;
}